{% extends 'faq/base.html' %}

{% block content %}
	<article id="contenido" class="panel-body col-xs-12 col-md-7 col-md-offset-1 col-lg-6 col-lg-offset-2">
		<h1>Preguntas frecuentes (F.A.Q.)</h1>
		
		{% for pregunta in preguntas %}
			<div class="preguntas">
				<h4 class="btn-toggle">
					<i class="fa fa-caret-right"></i>
					<span class="pregunta"><strong>{{ pregunta.titulo }}</strong></span>
				</h4>
				
				{% if pregunta.recurso != None %}
					<div class="toggle row">
					  <div class="col-xs-10 col-xs-offset-1">
						<div class="embed-responsive embed-responsive-16by9">
						  <iframe src="{{ pregunta.recurso }}" allowfullscreen="" class="embed-responsive-item"></iframe>
						</div>
					  </div>
					</div>
					
				{% else %}		<!-- Si en lugar de recurso, hay varios apartados con recursos -->
					<div class="toggle">
					
						{% for apartado in pregunta.apartados %}
							<span>
							<h5 class="btn-toggle2">
								<i class="fa fa-angle-right"></i>
								<span class="pregunta"><strong>{{ apartado.titulo }}</strong></span>
							</h5>
							
							<div class="toggle2 row">
							  <div class="col-xs-10 col-xs-offset-1">
								<div class="embed-responsive embed-responsive-16by9">
								  <iframe src="{{ apartado.recurso }}" allowfullscreen="" class="embed-responsive-item"></iframe>
								</div>
							  </div>
							</div>
							</span>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</article>
	
	<!-- Formulario (se debe mostrar a la derecha, pero abajo en xs) -->
	<aside id="derecha" class="col-xs-8 col-xs-push-2 col-md-4 col-md-push-0 col-lg-3">
		<h2>Envíanos tus dudas</h2>
		<p>En este espacio puedes hacernos llegar tus inquietudes, dudas o sugerencias (todos los campos con <b>*</b> son obligatorios): 
		</p>
		
		<form method="post" action="">
			{% csrf_token %}
			
			<ul style="list-style-type: none;">
				{{ dudas_form.as_ul }}
			</ul>
			
			<div class="pensando">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
			</div>
			<span class="pensar">
				<input type="submit" value="Enviar" class="btn-amarillo"/>
			</span>
		</form>
	</aside>
{% endblock %}
