{% extends 'faq/base.html' %}

{% block content %}
	<article id="contenido" class="panel-body col-xs-12 col-sm-8 col-sm-offset-1 col-lg-6 col-lg-offset-2">
		<h1>Preguntas más frecuentes</h1>
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Cómo gestionar alumnos. Características del módulo</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Cómo extraer información: SDI y Expedientes</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 2</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Gestionar SDI y Expedientes</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 3</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Cómo Gestionar usuarios dentro del CRM</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 4</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Qué mejoras introduce el Sistema CRM</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 5</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Qué pueden hacer los Usuarios Externos</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 6</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Cómo establecer Alertas y Reglas Post-proceso. Para qué sirven</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 7</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Características del Módulo de Soportes</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 8</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Características del  Módulo Cabeceras y Campañas</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 9</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Para qué un Módulo de Plantillas y Boletines</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 10</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Módulo Estadísticas y Monitores de Sistema: Cómo optimizar el trabajo</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 11</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Cómo se realiza la parametrización de perfiles de usuarios</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 12</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Cómo se gestionan los Programas y convocatorias</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 13</span>
					
				</div>
			</div>
		</div>
		
		<div class="preguntas">
			<h4 class="btn-toggle">
				<i class="fa fa-caret-right"></i>
				<span class="pregunta"><strong>Módulo Financiero: Ventajas y posibilidades de emplear el módulo en CRM</strong></span>
			</h4>
			
			<div class="toggle">
				<div class="media-body">
					<span class="media-heading">Respuesta 14</span>
					
				</div>
			</div>
		</div>
	</article>
	
	
	<!-- Formulario (se debe mostrar a la derecha, pero abajo en xs) -->
	<aside id="derecha" class="col-xs-12 col-sm-3 col-lg-3">
		<h2>Envíanos tus dudas</h2>
		<p>En este espacio puedes hacernos llegar tus inquietudes, dudas o sugerencias (Todos los campos con <b>*</b> son obligatorios): 
		</p>
		
		<form method="post" action="">
			{% csrf_token %}
			
			<ul style="list-style-type: none;">
				{{ dudas_form.as_ul }}
			</ul>
			
			<input type="submit" value="Enviar" class="btn-amarillo"/>
		</form>
			
	</aside>
	 

{% endblock %}
